* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: arial, sans-serif;
    font-size: 1rem;
    background-color: #FFF;
    color: #000;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
}


/* Header style */

header {
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    padding: 15px
}

.left-header {
    display: flex;
    align-items: center;
}

.left-header>div {
    padding-right: 15px;
    opacity: 0.75;
}

.right-header {
    display: flex;
    align-items: center;
}

.right-header>div {
    padding-right: 15px;
    opacity: 0.75;
}

#apps {
    padding-right: 15px;
    opacity: 0.75;
}

#sign-in {
    background-color: #4285f4;
    color: #fff;
    border: 1px solid #4285f4;
    border-radius: 2px;
    padding: 0 12px;
    text-decoration: none;
    line-height: 28px;
    font-size: 13px;
    font-weight: bold;
}


/* Main style */

main {
    border: solid;
}

footer {
    border: solid;
}